<!doctype html>
<html>

<head>
    <title>Log in</title>
    <link rel="stylesheet" href="/css/design.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="/" style="color: #3CB371; font-size: 35px;">TraXersal</a>
    <a class="navbar-brand" href="#" style="color: #3CB371; font: 20px Comic Sans MS; font-weight: lighter;">U.S.
        National Parks</a>
        <%if(!user){%>
            <a href='/users/signUp'>Sign Up</a> /
            <a href='/users/login'>Login</a>
        </nav>
        <%} else{%>

			<a href='/users/profile'>Profile</a> 
			<a href='/users/logout'>Logout</a>
			<%}%>

           
            <%if(errorMessages.length> 0){
                errorMessages.forEach(message => {%>
              
                    <div class='error'>
                    <%=message%>
                </div>
                <% }); } %>
        
                    <%if(successMessages.length> 0){
                        successMessages.forEach(message => {%>
                        <div class='success'>
                            <%=message%>
                        </div>
                        <% }); } %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>

    <div class="LoginBt">
        <button onclick="window.location.href='/';" class="btn btn-outline-success my-2 my-sm-0" type="Login">Home</button>
    </div>
</nav>

</header>


<body>
    <div class="loginbox">
        <img src="../images/mountain.png" class="avatar">
        <h1>Login Here</h1>
        <form action="/users/login" method = "POST">
            <p>Email</p>
            <input type="text" name="" placeholder="Enter Email">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password">
            <input type="submit" value="Login">
            <a href="/users/signUp">Sign Up</a><br>
        </form>
    </div>
</body>

</html>