<!DOCTYPE html>
<html>

<head>
    <title>Users Login</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/login.css">

<body>
    <div class="loginbox">
        <img src="./image/accountLogo1.png" class="avatar">
        <h1>Login Here</h1>
        <form action="home.html">
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username">
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password">
            <input type="submit" name="" value="Login">
            <a href="pwchange.html">Forget password?</a><br>
            <a href="signup.html">Sign Up</a><br>
            <a href="signup.html">Sign In with Your Google Email</a>
        </form>
    </div>
</body>

</html>