<!DOCTYPE html>
<html>

<head>
 <title> Profile </title>
</head>
<link rel="stylesheet" type="text/css" href="/css/login.css">
    <main>
        <h2>
            <%=user.firstName + "'s profile" %>
     
        </main>

        </html>