.body {
    margin: auto;
    background-color: #516145;
}








.content {
    height: 150px;
    width: 150px;
    border: 5px solid #000000;
    float: left;
    margin: 20px;
}

div#first {
    background-color: #1e00ff;
}

div#second {
    background-color: #00ff00;
}

div#third {
    background-color: #0000ff;
}

div#fourth {
    background-color: #fffff00;
}


.tabContainer {
    width: 100%;
    height: auto;
}

.tabContainer.buttonContainer {
    height: 15%;
}

.tabContainer .buttonContainer button {
    width: 11.11%;
    height: 100%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    font-size: 12px;
    background-color: rgb(189, 231, 208);
}

.tabContainer .buttonContainer button:hover {
    background-color: #52896a;
}

.tabContainer .tabPanel {
    height: fit-content;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;
}