/* Nav bar */
.homeBt{
    margin-inline-start: 8px;
}
.LoginBt{
    margin-inline-start: 8px;
}

/* css for home page */

body,html{
    margin: auto;
    background-color:#516145;
}

.mapFrame{
    width: 800px; 
    height: 467px; 
    border: none;
}

.containerMap{
    writing-mode: horizontal-tb;
    margin-inline-start: 20px;
    margin-top: 10px;  
    float: left;
    background-color: azure;
    border: 2px solid rgb(19, 162, 187);
}

/* .containerStates{
    list-style: none;
    float: left;
    margin-inline-start: 20px; 
    writing-mode: horizontal-tb;
    margin-top: 10px; 
    border: 2px solid rgb(19, 162, 187);
} */

.list-group{
    list-style: none;
    float: left;
    margin-inline-start: 20px; 
    writing-mode: horizontal-tb;
    margin-top: 10px; 
    width: 10%;
}




/* .table1{
    float: left;
    margin-inline-start: 20px; 
    writing-mode: horizontal-tb;
    margin-top: 10px; 
}

.table2{
    float: left;
    margin-inline-start: 20px; 
    writing-mode: horizontal-tb;
    margin-top: 10px; 
}

.table3{
    float: left;
    margin-inline-start: 20px; 
    writing-mode: horizontal-tb;
    margin-top: 10px; 
}

.table4{
    float: left;
    margin-inline-start: 20px; 
    writing-mode: horizontal-tb;
    margin-top: 10px; 
} */


/* css for state page */
.stateName {
    font-size: 20px;
    margin-inline-start: 400px;
    }

#map{
    margin-inline-start: 20px;
    margin-top: 10px;
    width: 800px; 
    height: 467px; 
    border: none;
    float: left;
    background-color:#516145;
    }

/* .info {
    list-style: none;
    float: left;
    margin-inline-start: 20px;         
    writing-mode: horizontal-tb;
    margin-top: 10px; 
    border: 2px solid rgb(19, 162, 187);
    } */

.list-group{
    list-style: none;
    float:left;
    margin-inline-start: 20px;         
    writing-mode: horizontal-tb;
    margin-top: 10px; 
    text-align: center;
    width:20%
    /* border: 2px solid rgb(19, 162, 187); */
    }










