<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Tabs</title>
  <link rel="stylesheet" href="/css/design.css">
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<header>

  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">TraXersal</a>
    <a class="navbar-brand" href="#" id="currentPark">You are in </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto"></ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>

    </div>
    <div class="homeBt" style="margin-inline-start: 8px;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</button>
    </div>

    <div class="LoginBt" style="margin-inline-start: 8px;">
      <button class="btn btn-outline-success my-2 my-sm-0" type="Login">Login</button>
    </div>

  </nav>

</header>

<body style="background-color:#516145;">

  <div class="tabContainer">
    <div class="buttonContainer">
      <button onclick="showPanel(0,'#bee8ca')">Name address phone hours</button>
      <button onclick="showPanel(1,'#bee8ca')">Event and activities</button>
      <button onclick="showPanel(2,'#bee8ca')">Campgrounds and Amenties</button>
      <button onclick="showPanel(3,'#bee8ca')">Alerts</button>
      <button onclick="showPanel(4,'#bee8ca')">Weather</button>
      <button onclick="showPanel(5,'#bee8ca')">Comments and Reviews</button>
      <button onclick="showPanel(6,'#bee8ca')">Images</button>
      <button onclick="showPanel(7,'#bee8ca')">Tours</button>
      <button onclick="showPanel(8,'#bee8ca')">Extra Space</button>
    </div>
    <div class="tabPanel" id="tab1"></div>
    <div class="tabPanel" id="tab2">
    </div>
    <div class="tabPanel" id="tab3"></div>
    <div class="tabPanel" id ="tab4"></div>
    <div class="tabPanel" id ="tab5"></div>
    <div class="tabPanel" id ="tab6"></div>
    <div class="tabPanel" id ="tab7"></div>
    <div class="tabPanel" id ="tab8"></div>
    <div class="tabPanel" id ="tab9"></div>
  </div>

  <script src="/javascript/myScript.js"></script>

  <script>
    (function fetchDataTab12() {
      fetch('https://developer.nps.gov/api/v1/parks?parkCode=<%=parkCode%>&api_key=9pmlVnQfy5VVDKxPYb8Du9UOMm6e5Nem5dGuLJL1')
        .then(res => {
          return res.json();
        })
        .then((park) => {
          parkData = park.data[0]
          console.log(parkData);
          //-----------Tab1 Filling-----------------------
          //Getting Park Name
          var p = document.createElement('p');
          var text = document.createTextNode(parkData.fullName);
          p.appendChild(text);
          var element = document.getElementById("tab1");
          element.appendChild(p);
          var parkelement = document.getElementById("currentPark");
          parkelement.append(parkData.fullName);
          //Getting Address
          var p1 = document.createElement('p');
          var text1Raw = parkData.addresses[1].line1 + ' ' + parkData.addresses[1].city + ' ' + parkData.addresses[1].stateCode + ' ' + parkData.addresses[1].postalCode;
          var text1 = document.createTextNode(text1Raw);
          p1.append(text1);
          element.append(p1);
          //Getting Phone Numbers
          var p2 = document.createElement('p');
          var text2 = document.createTextNode(parkData.contacts.phoneNumbers[0].phoneNumber);
          p2.appendChild(text2);
          element.appendChild(p2);
          //Getting Operation Hours
          var p3 = document.createElement('p');
          text3Raw = 'Monday: ' + parkData.operatingHours[0].standardHours.monday + '  Tuesday: ' + parkData.operatingHours[0].standardHours.tuesday + ' Wednesday: ' + parkData.operatingHours[0].standardHours.wednesday + ' Thursday: ' + parkData.operatingHours[0].standardHours.thursday + ' Friday: ' + parkData.operatingHours[0].standardHours.friday + ' Saturday: ' + parkData.operatingHours[0].standardHours.saturday + ' Sunday: ' + parkData.operatingHours[0].standardHours.sunday;
          var text3 = document.createTextNode(text3Raw);
          p3.appendChild(text3);
          element.appendChild(p3);
          //-----------Tab2 Filling-----------------------
          const eventName = parkData.activities.map(event => event.name);
          var element2 = document.getElementById("tab2");
          eventName.forEach(event => {
            var p4 = document.createElement('p');
            p4.append(event);
            element2.append(p4);
          });
          //-----------Tab3 Filling-----------------------
          //* Note ! Have to start a different API Fetch in function fetchDataTab3

        })
        .catch(error => console.log(error));
    })();


    (function fetchDataTab3() {
      fetch('https://developer.nps.gov/api/v1/amenities/parksplaces?parkCode=<%=parkCode%>&api_key=9pmlVnQfy5VVDKxPYb8Du9UOMm6e5Nem5dGuLJL1')
        .then(res => {
          return res.json();
        })
        .then((park) => {
          parkData = park.data[0]
          console.log(parkData);
          let amentiesName = parkData[0].name;
          let element = document.getElementById("tab3");
          element.append(amentiesName);
          let space = document.createElement('br');
          element.append(space);
          let placesArr = parkData[0].parks[0].places;
          let details = placesArr.map(place => {
            return place.title;
          });
          let detailsInArr = Object.values(details);
          detailsInArr.forEach(place => {
            element.append(place);
            let space = document.createElement('br');
            element.append(space);
          });
          let url = parkData[0].parks[0].url;
          let link = document.createElement('a');
          link.append('ClickMe!')
          link.href = url;
          link.target = '_blank';
          element.append('Please visit the offical website for more information:   ');
          element.append(link);
        })
        .catch(error => console.log(error));
    }
    )();


    (function fetchDataTab4() {
      fetch('https://developer.nps.gov/api/v1/alerts?parkCode=<%=parkCode%>&api_key=9pmlVnQfy5VVDKxPYb8Du9UOMm6e5Nem5dGuLJL1')
        .then(res => {
          return res.json();
        })
        .then((park) => {
          let parkData = park.data;
          console.log(parkData);
          let element = document.getElementById("tab4");
          let category = parkData.category;
          let space = document.createElement('br');
          parkData.forEach(alert => {
            let header = document.createElement('h1');
            let paragraph = document.createElement('p');
            let category = alert.category;
            let description = alert.description;
            header.append(category);
            paragraph.append(description);
            element.append(header);
            element.append(paragraph);
          });
        })
        .catch(error => console.log(error));
    }
    )();


    (function fetchDataTab5() {
      fetch('https://developer.nps.gov/api/v1/parks?parkCode=<%=parkCode%>&api_key=9pmlVnQfy5VVDKxPYb8Du9UOMm6e5Nem5dGuLJL1')
        .then(res => {
          return res.json();
        })
        .then((park) => {
          let zip = park.data[0].addresses[0].postalCode;
          console.log(zip);
          return zip;
        })
        .then((zip) => {
          fetch('https://api.weatherapi.com/v1/current.json?key=1d92743685794826afd50627221312&q=' + zip + '&aqi=no')
        .then(res => {
          return res.json();
        })
        .then((weather) => {
          let weatherData = weather.current;
          console.log(weatherData);
          let element = document.getElementById("tab5");
          let temp = weatherData.temp_f;
          let condition = weatherData.condition.text;
          let icon = weatherData.condition.icon;
          let wind = weatherData.wind_mph;
          let humidity = weatherData.humidity;
          let feelsLike = weatherData.feelslike_f;
          let space = document.createElement('br');
          let tempP = document.createElement('p');
          let conditionP = document.createElement('p');
          let windP = document.createElement('p');
          let humidityP = document.createElement('p');
          let feelsLikeP = document.createElement('p');
          let iconImg = document.createElement('img');
          tempP.append('Temperature: ' + temp + 'F');
          conditionP.append('Condition: ' + condition);
          windP.append('Wind: ' + wind + 'mph');
          humidityP.append('Humidity: ' + humidity + '%');
          feelsLikeP.append('Feels Like: ' + feelsLike + 'F');
          iconImg.src = icon;
          element.append(tempP);
          element.append(conditionP);
          element.append(windP);
          element.append(humidityP);
          element.append(feelsLikeP);
          element.append(iconImg);
        })
        })
      
    }
    )();
  </script>




</body>

</html>