<! DOCTYPE html>
  <html lang="en">

  <head>
    <title> State information </title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/design.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="/javascript/map.js"></script>
  </head>
  <header>

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" href="#">TraXersal</a>
        <a class="navbar-brand" href="#">You are in <%= state.name%></a>
               
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto"></ul>
 
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>

        </div>
        <div class="homeBt">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Home</button>
        </div> 
              
        <div class="LoginBt">
          <button class="btn btn-outline-success my-2 my-sm-0" type="Login">Login</button>
        </div>

      </nav>
 
  </header>






  <body style="background-color: #516145;">

    <div id="map"></div>
    <script>
      var NPMap = {
        div: 'map',
        locateControl: true,
        zoom: 6,
        center: {
          lat: '<%= state.lat%>',
          lng: '<%= state.long%>'
        },
        baseLayers: [
          'nps-parkTiles3'
        ],
        hashControl: true,
        overlays: [{
          preset: 'nps-places-pois',
          unitCodes: [
            'grsm'
          ]
        }]
      };

      (function () {
        var s = document.createElement('script');
        s.src = 'https://www.nps.gov/lib/npmap.js/4.0.0/npmap-bootstrap.js';
        document.body.appendChild(s);
      })();
    </script>
    <script>
      (function fetchData() {
        fetch('https://developer.nps.gov/api/v1/parks?stateCode=<%= state.value %>&api_key=9pmlVnQfy5VVDKxPYb8Du9UOMm6e5Nem5dGuLJL1')
          .then(res => {
            return res.json();
          })
          .then((res) => {
            const data = res.data;
            for (data.park of data) {
              console.log(data.park);
              // append data to div class called info
              var tag = document.createElement("p");
              var text = document.createTextNode(data.park.fullName);
              tag.appendChild(text);
              var element = document.getElementById("info");
              element.appendChild(tag);
            }
          })
          .catch(error => console.log(error));
    })();
    </script>
    <!-- <div class="info" id="info"> -->
    
    <div class="list-group" style="width: 550px;">
  
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Park list 1</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Park list 2</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Park list 3</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Park list 1</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Park list 2</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Park list 3</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Park list 1</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Park list 2</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-success">Park list 3</a>
    </div>
   
      


    </div>
  </body>

  </html